@import "../../../assets/variables";

@keyframes shake {
  0% {
    transform: rotate(10deg);
    animation-timing-function: ease-in;
  }
  33% {
    transform: rotate(0deg);
    animation-timing-function: ease-in-out;
  }
  66% {
    transform: rotate(-10deg);
    animation-timing-function: ease-in-out;
  }
  100% {
    transform: rotate(0deg);
    animation-timing-function: ease-out;
  }
}

.dash {
  .dash__sidebar {
    position: fixed;
    height: 100dvh;
    width: 280px;

    .sidebar__inner {
      height: inherit;
      width: inherit;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .sidebar__items {
        h1 {
          color: $complementary;
          border-bottom: 1px solid $complementary;
          font-size: 30px;
        }

        ul {
          list-style-type: none;
          padding: 0;
          margin: 0;

          li {
            width: 100%;
            height: 60px;
            margin: 20px 0;
            background-color: $secondary;
            color: $complementary;
            font-weight: 300;
            border-radius: 10px;

            a {
              display: grid;
              grid-template-columns: 1fr 3fr;
              gap: 20px;
              align-items: center;
              width: 100%;
              height: 100%;

              &:hover {
                svg {
                  animation: shake 0.2s forwards;
                }
              }

              span {
                position: relative;
                background-color: $complementary;
                color: $secondary;
                border-radius: 10px 0 0 10px;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
          }
        }
      }

      .sidebar__user-info {
        display: flex;
        gap: 20px;
        background-color: $secondary;
        color: $complementary;
        padding: 10px;
        flex-wrap: nowrap;
        align-items: center;
        overflow-x: hidden;
        border-radius: 10px;

        &:hover {
          img {
            animation: shake 0.2s forwards;
          }
        }

        p {
          margin: 0;
          font-size: 1em;
        }
      }
    }
  }

  .dash__inner {
    padding: 50px 50px 50px 350px;
  }
}
