@import "../../../assets/variables";

.grading {
  .grading__inner {
    .grading__title {
      h1 {
        position: relative;

        &::before {
          position: absolute;
          content: "";
          width: 50px;
          height: 3px;
          background-color: $primary;
          bottom: -5px;
          left: 0;
        }
      }
    }

    .grading__students {
      position: relative;

      .grading__actions {
        background-color: #fff;
        position: sticky;
        bottom: 10px;
        left: 0;
        border-radius: 10px;
        display: grid;
        grid-template-columns: 1fr 50px 1fr;
      }
    }
  }
}
