@import "../../../assets/variables";
@import "../../User/profileForm.scss";

.topic-add__form {
  .topic-add__input-container {
    position: relative;
    display: block;
    width: 100%;
    padding: 12px 0;
    margin: 24px 0;
    border: 1px solid #bbb;
    border-radius: 10px;

    label {
      position: absolute;
      top: -15px;
      left: 5px;
      font-size: 1.1em;
      font-weight: 300;
      background-color: #fff;
      padding: 0 10px;
    }

    input,
    textarea {
      width: 100%;
      height: 100%;
      padding: 6px 12px;
      border: none;
      outline: none;

      &:focus {
        border: none;
        outline: none;
      }
    }

    input:focus + label,
    textarea:focus + label {
      font-weight: 400;
    }
  }

  .topic-add__action {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 20px;
  }
}
